<h1 class="text-center">
  <%= @list.name %>
</h1>

<p class="text-center">
  <p>List owners: </p>
	<% @list.users.each do |owner| %>
		<ul>
		<li><%= link_to owner.email, user_path(owner) %></li>
		</ul>

		<% if owner.id == current_user.id %>
			<%= link_to new_list_task_path(:list_id => @list.id), :class => 'btn btn-default' do %>
		    	<i class="glyphicon glyphicon-plus"></i> New Task
			<% end %>
		<% end %>
	<% end %>
</p>

<% if @tasks.count > 0 %>
	<h3>To Do:</h3>
	<ul>
		<% @tasks.each do |task| %>
			<li><%= link_to task.stub, list_task_path(@list, task) %></li>
		<% end %>
	</ul>
<% else %>
	<h4 class="text-center user-lists">Sorry, nothing in this list yet!</h4>
<% end %>

<% @list.users.each do |owner| %>
	<% if owner.id == current_user.id %>
		<%= link_to 'Edit', edit_list_path(@list) %> |
		<%= link_to 'Back', user_path(owner) %>
	<% end %>
<% end %>
