<h1 class="text-center">
  <%= @list.name %>
</h1>

<p class="text-center">
  By:
  <%= link_to @user.email, user_path(@user) %>
</p>

<h3>To Do:</h3>
<%= link_to new_task_path(:list => @list.id), :class => 'btn btn-default' do %>
    <i class="glyphicon glyphicon-plus"></i> New Task
<% end %>
<ul>
	<% @tasks.each do |task| %>
		<li><%= link_to task.stub, task %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
