<h1>Listing Tasks</h1>

<%= link_to new_task_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-plus"></i> New Task
<% end %>

<% @tasks.each do |task| %>
    <h4><%= link_to task.stub, task %></h4>
    <p><%= task.description %></p>
    <p><%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<br>
