<p>
  <strong>List:</strong>
  <% unless @task.list_id.blank? %>
  	<%= link_to @list.name, list_path(@list) %>
  <% end %>
</p>

<p>
  <strong>Stub:</strong>
  <%= @task.stub %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<% if @list.user_id === current_user.id %>
	<%= link_to 'Edit', edit_list_task_path(@list, @task) %> |
	<%= link_to 'Back', list_path(@list) %>
<% end %>
